.about {
  @mixin container;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 27px;
  box-sizing: border-box;
}

.about__header {
  color: $title-color;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

@media (--mobile-width) {

  .about__title {
    color: $title-color;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
  }

  .about__item:nth-of-type(1) {
    margin-top: 31px;
    .about__picture {
      margin-left: 8px;
    }
    .about__title {
      margin-top: 11px;
      width: 175px;
    }
  }

  .about__item:nth-of-type(2) {
    margin-top: 29px;
    .about__picture {
      margin-left: 0px;
    }
    .about__title {
      margin-top: 20px;
      width: 200px;
    }
  }

  .about__item:nth-of-type(3) {
    margin-top: 34px;
    .about__picture {
      margin-left: 7px;
    }
    .about__title {
      margin-top: 14px;
      width: 200px;
    }
  }

  .about__item:nth-of-type(4) {
    margin-top: 32px;
    .about__picture {
      margin-left: 3px;
    }
    .about__title {
      margin-top: 11px;
      width: 211px;
    }
  }

  .about__item:nth-of-type(5) {
    margin-top: 32px;
    .about__picture {
      margin-left: -6px;
    }
    .about__title {
      margin-top: 21px;
      width: 251px;
    }
  }

  .about__item:nth-of-type(6) {
    margin-top: 30px;
    .about__picture {
      margin-left: 3px;
    }
    .about__title {
      margin-top: 13px;
      width: 251px;
    }
  }

}

@media (--tablet-width) {

  .about {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px;
    padding-bottom: 27px;
  }

  .about__header {
    display: block;
    box-sizing: border-box;
    font-size: 43px;
    width: 100%;
    margin-left: -5px;
    margin-bottom: 58px;
  }

  .about__title {
    margin: 0;
    margin-top: 51px;
  }

  .about__item {
    font-size: 20px;
    width: 50%;
    padding-right: 85px;
    margin-bottom: 50px;
    box-sizing: border-box;
    position: relative;
  }

  .about__picture {
    position: absolute;
  }

  .about__header {
    order: 1;
  }

  .about__item:nth-of-type(1) {
    order: 2;
    padding-right: 105px;
    .about__picture {
      position: absolute;
      left: 8px;
    }
  }

  .about__item:nth-of-type(4) {
    order: 3;
    .about__picture {
      position: absolute;
      top: 4px;
      left: 3px;
    }
  }

  .about__item:nth-of-type(2) {
    order: 4;
  }

  .about__item:nth-of-type(5) {
    order: 5;
    padding-right: 30px;
    .about__picture {
      position: absolute;
      top: 5px;
      left: -6px;
    }
  }

  .about__item:nth-of-type(3) {
    order: 6;
    padding-right: 96px;
    .about__picture {
      top: 7px;
      left: 8px;
      position: absolute;
    }
  }

  .about__item:nth-of-type(6) {
    order: 7;
    .about__picture {
      position: absolute;
      top: 3px;
      left: 3px;
    }
  }

}

@media (--desktop-width) {

  .about {
    margin-top: 0;
    padding-top: 73px;
    padding-left: 225px;
    padding-right: 225px;
  }

  .about__header {
    font-size: 53px;
    margin-bottom: 61px;
  }

  .about__item {
    padding-right: 125px;
    box-sizing: border-box;
  }

  .about__item:nth-of-type(1) {
    padding-right: 118px;
  }

  .about__item:nth-of-type(2) {
    padding-right: 90px;
  }

  .about__item:nth-of-type(4) {
    padding-right: 99px;
  }

  .about__item:nth-of-type(3) {
    padding-right: 110px;
  }

  .about__item:nth-of-type(6) {
    padding-right: 100px;
  }

}
