.button {
  color: $font-color-base;
  font-size: 17px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid #444444;
  display: block;
  background-color: $base-background-color;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
}

.button:hover {
  color: #ffffff;
  background-color: #444444;
  animation-name: color-transform;
  animation-duration: 0.2s;
}

@keyframes color-transform {

  0% {
    color: $font-color-base;
    background-color: $base-background-color;
  }
  100% {
    color: #ffffff;
    background-color: #444444;
  }

}

.button:active {
  color: #7c7c7c;
}
