.card {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
}

.card__image {
  width: 260px;
  height: 195px;
}

.card__header {
  color: $title-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.card__props {
  color: $font-color-base;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  color: $title-color;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
 }
