.feedback {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 34px;
}

.feedback__header {
  color: $title-color;
  font-size: 25px;
  font-weight: 700;
}

.feedback__description {
  color: $font-color-base;
  font-size: 15px;
  line-height: 30px;
}

.feedback__name {
  font-size: 18px;
  color: $title-color;
  font-weight: 700;
}

.feedback__nickname {
  font-size: 18px;
  color: $font-color-base;
}

.feedback__slide-button {
  width: 129px;
  height: 52px;
  display: inline-block;
  outline: 1px solid #ececec;
}
