.header {
  @mixin container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.header__nav {
  position: relative;
  box-shadow: inset 0 -1px 0 #ececec;
}

.header__logo-img:hover {
  opacity: 0.6;
}

.header__logo-img:active {
  opacity: 0.3;
}

@media (--mobile-width) {

  .header__nav {
    border-top: 1px solid #ececec;
    box-sizing: border-box;
  }

  .header__logo {
    width: 86px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 23px;
  }

  .header__toggle {
    position: absolute;
    right: 30px;
    top: 27px;
    width: 21px;
    height: 21px;
    background: url(../../img/icon-menu-close.svg);
    background-repeat: no-repeat;
    font-size: 0;
  }

}

@media (--tablet-width) {

  .header {
    flex-direction: row;
  }
  .header__nav {
    position: relative;
    border-right: 1px solid #ececec;
    flex-grow: 1;
  }
  .header__logo {
    display: block;
    margin-left: 48px;
    margin-top: 22px;
    margin-bottom: 16px;
  }
  .header__logo-img {
    width: 113px;
    height: 46px;
  }
  .header__toggle {
    display: none;
  }
}

@media (--desktop-width) {
  .header__nav {
    order: 2;
    flex-grow: 0;
  }
  .header__logo {
    margin-top: 9px;
    margin-bottom: 0;
    margin-right: 101px;
    margin-left: 41px;
  }
  .header__logo-img {
    width: 149px;
    height: 72px;
  }
}
