.header {
  @mixin container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (--mobile-width) {

  .header__nav {
    position: relative;
  }

  .header__nav {
    box-shadow: inset 0 -1px 0 #ececec;
  }

  .header__logo {
    width: 86px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .header__toggle {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 20px;
    height: 14px;
    background: url(../img/icon-menu-open.svg);
    font-size: 0;
  }

}

@media (--tablet-width) {

  .header {
    flex-direction: row;
  }

  .header__nav {
    z-index: 2;
    position: absolute;

  }

  .header__logo {
    display: block;
  }

  .header__logo-icon {
    background: url(../img/mishka-logo-desktop.png);
    width: 149px;
    height: 72px;
  }


  .header__toggle {
    display: none;
  }

}
