.intro--main {
  background-color: #f9f9f9;
}

.intro__wrapper {
  @mixin container;
  box-sizing: border-box;
}

.intro__wrapper--main {
  background-repeat: no-repeat;
  background-position: center;
}

.intro--secondary {
  background-color: #f1f1f1;
  background-image: none;
}

.intro__header {
  color: $title-color;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 70px;
  padding-bottom: 122px;
  margin: 0;
}

.intro__header--secondary {
  color: $title-color;
  margin: 0;
  padding-top: 71px;
  padding-bottom: 76px;
  padding-left: 0;
  padding-right: 0;
}

.intro__section {
  color: $font-color-alt;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 29px;
  text-decoration: none;
  box-sizing: border-box;
  padding-right: 37%;
  height: 103px;
}

.intro__section:hover {
  height: 108px;
  padding-top: 20px;
  margin-top: -5px;
  animation-name: transform;
  animation-duration: 0.2s;
}

@keyframes transform {

  0% {
    height: 103px;
    padding-top: 25px;
    margin-top: 0;
  }
  100% {
    height: 108px;
    padding-top: 20px;
    margin-top: -5px
  }

}

.intro__section--interior {
  background-color: $accent-color;
  position: relative;
}

.intro__section--interior:hover {
  background-color: #59d5bc;
}

.intro__section--interior svg {
  position: absolute;
  right: 36px;
  top: 22px;
  opacity: 0.5;
}

.intro__section--interior:hover svg {
  top: 17px;
  animation-name: interior-svg-transform;
  animation-duration: 0.2s;
}

@keyframes interior-svg-transform {

  0% {
    top: 22px;
  }
  100% {
    top: 17px;
  }

}

.intro__section--toys {
  background-color: #56c3b2;
  position: relative;
}

.intro__section--toys:hover {
  background-color: #46c1ae;
}

.intro__section--toys svg {
  position: absolute;
  right: 26px;
  top: 20px;
  opacity: 0.5;
}

.intro__section--toys:hover svg {
  top: 15px;
  animation-name: toys-svg-transform;
  animation-duration: 0.2s;
}

@keyframes toys-svg-transform {

  0% {
    top: 20px;
  }
  100% {
    top: 15px;
  }

}

.intro__section svg {
  fill: #149080;
}

.intro__section:hover svg {
  opacity: 0.7;
}

.intro__section:active svg {
  opacity: 0.3;
}

.intro__free-delivery {
  color: $font-color-base;
  font-size: 15px;
  float: right;
  display: inline-block;
  margin-right: 50px;
}

@media (--mobile-width) {

  .intro__wrapper--main {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-size: 575px auto;
    @media (--retina) {
      background-image: url(../img/hero-mobile@2x.jpg);
    }
  }

  .intro__wrapper {
    background-position: 50% -15%;
  }

  .intro__free-delivery {
    display: none;
  }

  .intro__categories {
    display: none;
  }

}

@media (--tablet-width) {

  .intro {
    overflow: hidden;
  }

  .intro__wrapper {
    display: flex;
    flex-wrap: wrap;
  }


  .intro__wrapper--main {
    background-image: url(../img/hero-desktop@1x.jpg);
    background-size: 1150px auto;
    background-position-y: 0;
    @media (--retina) {
      background-image: url(../img/hero-desktop@2x.jpg);
    }
  }

  .intro__wrapper--secondary {
    background-color: #f1f1f1;
    background-image: none;
  }

  .intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    margin-top: -23px;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
  }

  .intro__additional {
    flex-grow: 1;
    margin-top: 19px;
  }

  .intro__categories {
    display: none;
  }

  .intro__header {
    font-size: 43px;
    line-height: 50px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 114px;
    width: 100%;
    padding-bottom: 373px;
  }

  .intro__header--secondary {
    padding-top: 56px;
    padding-bottom: 91px;
  }

  .intro__sections {
    width: 100%;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
  }

  .intro__section {
    width: 50%;
    padding-right: 25%;
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 42px;
    padding-left: 36px;
    height: 119px;
  }

  .intro__section:hover {
    height: 124px;
    padding-top: 20px;
    margin-top: -5px;
    animation-name: transform;
    animation-duration: 0.2s;
  }

  @keyframes transform {

    0% {
      height: 119px;
      padding-top: 25px;
      margin-top: 0;
    }
    100% {
      height: 124px;
      padding-top: 20px;
      margin-top: -5px
    }

  }

  .intro__section--interior svg {
    right: 36px;
    top: 30px;
  }

  .intro__section--toys:hover svg {
    right: 36px;
    top: 30px;
    animation-name: toys-svg-transform;
    animation-duration: 0.2s;
  }

  @keyframes toys-svg-transform {

    0% {
      top: 30px;
    }
    100% {
      top: 25px;
    }

  }

  .intro__section--toys svg {
    right: 34px;
    top: 31px;
  }

  .intro__section--toys:hover svg {
    right: 34px;
    top: 26px;
    animation-name: toys-svg-transform;
    animation-duration: 0.2s;
  }

  @keyframes toys-svg-transform {

    0% {
      top: 31px;
    }
    100% {
      top: 26px;
    }

  }

}

@media (--desktop-width) {

  .intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position-x: 0px;
    margin-top: -18px;
  }

  .intro__header {
    font-size: 53px;
    line-height: 57px;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 113px;
    padding-bottom: 359px;
  }

  .intro__header--secondary {
    padding-top: 53px;
    padding-bottom: 104px;
  }

  .intro__additional {
    margin-left: 52px;
    margin-top: 20px;
  }

  .intro__categories {
    color: $title-color;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 56px;
    display: inline-block;
  }

  .intro__section {
    width: 525px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    display: block;
    padding-top: 29px;
    padding-bottom: 34px;
    padding-left: 39px;
    text-decoration: none;
    box-sizing: border-box;
    padding-right: 30%
  }

}
