.modal {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
}

.modal__header {
  width: 145px;
  text-align: center;
  margin: 35px auto 25px auto;
  color: $title-color;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
 }

 .modal__legend {
  color: $font-color-base;
  font-size: 15px;
 }

 .modal__section {
   border: none;
 }

 .modal__button {
   outline: none;
   color: $font-color-alt;
   background-color: $accent-color;
 }
