.nav {
  padding: 0;
  margin: 0;
  background-color: $base-background-color;
}

.nav__link {
  text-decoration: none;
  color: $title-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 26px;
  padding-bottom: 29px;
  box-shadow: inset 0 -1px 0 #ececec;
  display: block;
  box-sizing: border-box;
  position: relative;
}

.nav__link:hover span {
  opacity: 0.6;
}

.nav__link:active span {
  opacity: 0.3;
}

.nav__link-icon {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}

.nav__link:hover .nav__link-icon {
  fill: #63d1bb;
  opacity: 1;
}

.nav__link:active .nav__link-icon {
  opacity: 0.3;
}

  @media (--mobile-width) {

    .nav__link {
      padding-left: 24%;
    }

  }

  @media (--tablet-width) {

    .nav {
      display: flex;
      margin: 0;
    }

    .nav--2 {

    }

    .nav__link {
      border-right: 1px solid #ececec;
    }

    .nav__link-icon {
      top: 39px;
    }

    .nav--2 .nav__link:last-of-type {
      border-right: none;
      padding-right: 50px;
      padding-left: 83px;
      padding-top: 31px;
    }

    .nav--2 .nav__link:nth-of-type(1) {
      font-size: 0;
      width: 83px;
      height: auto;
      padding: 0;
    }

  }

  @media only screen and (min-width: 768px) and (max-width: 1149px) {

    .nav--1 {
      position: absolute;
      top: 106px;
      left: 50px;
      background: none;
    }

    .nav--1 .nav__link {
      box-shadow: none;
      border: none;
      padding: 0;
      margin-right: 36px;
      font-size: 15px;
    }
}

  @media (--desktop-width) {

    .nav--1 {
      order: 1;
    }

    .nav--2 {
      order: 3;
    }

    .nav__link {
      padding-top: 31px;
      padding-bottom: 33px;
      padding-right: 35px;
      padding-left: 35px;
    }

    .nav--1 .nav__link:first-of-type {
      padding-left: 50px;
    }

    .nav--1 .nav__link:last-of-type {
      border-right: none;
    }

    .nav--2 .nav__link:last-of-type {
        padding-top: 31px;
    }

    .nav__link-icon {
    top: 35px;
}

  }
