.nav {
  padding: 0;
  margin: 0;
  background-color: $base-background-color;
  z-index: 1;
}

.nav--2 {
  margin-bottom: -336px;
}

.nav__link {
  text-decoration: none;
  color: $title-color;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24%;
  box-shadow: inset 0 -1px 0 #ececec;
  display: block;
}

.nav--2 .nav__link:nth-of-type(1) {
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.nav--2 .nav__link:nth-of-type(2) {
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

  @media (--tablet-width) {

    .nav {
      display: flex;
      margin: 0;
    }

    .nav--2 {
      order: 3;
    }

    .nav__link {
      border-right: 1px solid #ececec;
    }

    .nav--2 .nav__link:last-of-type {
      border-right: none;
    }

    .nav--2 .nav__link:nth-of-type(1) {
      font-size: 0;
      width: 87px;
      height: 87px;
      padding: 0;
      background-position: 50% 50%;
    }

  }

  @media only screen and (min-width: 768px) and (max-width: 1199px) {

    .nav--1 {
      position: absolute;
      top: 100px;
      left: 50px;
      background: none;
    }

    .nav--1 .nav__link {
      box-shadow: none;
      border: none;
      padding: 0;
      margin-right: 30px;
    }
}
