.order__legend {
  color: $accent-color;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.order__section {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.order__field {
  box-shadow: inset 0 -2px 0 #000000;
  border: none;
  font-size: 17px;
  padding: 0;
  padding-bottom: 17px;
  width: 100%;
}

.order__field:hover {
  box-shadow: inset 0 -2px 0 #62d1ba;
}

.order__field:active {
  box-shadow: inset 0 -2px 0 #62d1ba;
  color: #444444;
}

.order__field:focus {
  box-shadow: inset 0 -2px 0 #62d1ba;
  color: #444444;
}

.order__field:invalid {
  box-shadow: inset 0 -2px 0 #f0b1b1;
}

.order__comment {
  border: none;
  border: 2px solid #000000;
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  margin-top: 40px;
  padding: 15px;
  color: $font-color-base;
  font-size: 17px;
  line-height: 18px;
}

.order__comment:hover {
  border: 2px solid #62d1ba;
}

.order__comment:active {
  border: 2px solid #62d1ba;
  color: #444444;
}

.order__comment:focus {
  border: 2px solid #62d1ba;
  color: #444444;
}

.order__comment:invalid {
  border: 2px solid #f0b1b1;
  color: rgba(68, 68, 68, 0.3);
}

.order__note {
  color: $font-color-base;
  font-size: 14px;
  display: block;
}

.order__button {
  margin-top: 19px;
  height: 52px;
  padding-top: 14px;
}

.order__name {
  color: $title-color;
  font-size: 17px;
  font-weight: 700;
  padding-top: 19px;
  padding-bottom: 13px;
}

.order__name:first-of-type {
  padding-top: 37px;
}

@media (--mobile-width) {

  .order {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .order__legend {
    margin-left: -3px;
  }

  .order__section:before {
    content: "";
    display: block;
    width: 198px;
    height: 1px;
    background-color: $accent-color;
    margin-top: -41px;
    margin-left: 62px;
  }

  .order__section:nth-of-type(3) {
    padding-bottom: 29px;
  }

  .order__section:nth-of-type(5) {
    padding-bottom: 10px;
  }

  .order__section:nth-of-type(6) {

  }

  .order__field--phone, .order__field--email {
    padding-top: 30px;
    margin-bottom: 19px;
  }

  .order__note {
    margin-left: -3px;
    margin-right: -4px;
  }

}

@media (--tablet-width) {

  .order {
    position: relative;
  }

  .order__legend {
    position: absolute;
    left: 50px;
  }

  .order__section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 210px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 68px;
  }

  .order__section:nth-of-type(2), .order__section:nth-of-type(4),
  .order__section:nth-of-type(5) {
    background-color: #f1f1f1;
  }

  .order__section:nth-of-type(4) {
    padding-bottom: 0;
  }

  .order__section:nth-of-type(5) {
    padding-top: 40px;
  }

  .order__section:last-of-type {
    padding-bottom: 53px;
  }

  .order__field--phone, .order__field--email {
    background-color: #f1f1f1;
  }

  .order__comment {
    margin: 0;
  }

  .order__button-block {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 52px;
  }

  .order__note {
    font-size: 17px;
  }

  .order__button {
    margin: 0;
    width: 230px;
    padding-top: 14px;
    padding-bottom: 14px;
  }


}
