.order__legend {
  color: $accent-color;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 58px;
}

.order__section {
  @mixin container;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.order__checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.order__field {
  box-shadow: inset 0 -2px 0 #000000;
  border: none;
  font-size: 17px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 100%;
}

.order__field:hover {
  box-shadow: inset 0 -2px 0 #62d1ba;
}

.order__field:active {
  box-shadow: inset 0 -2px 0 #62d1ba;
  color: #444444;
}

.order__field:focus {
  box-shadow: inset 0 -2px 0 #62d1ba;
  color: #444444;
}

.order__field:invalid {
  box-shadow: inset 0 -2px 0 #f0b1b1;
}

.order__comment {
  border: none;
  border: 2px solid #000000;
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  margin-top: 40px;
  padding: 15px;
  color: $font-color-base;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
}

.order__comment:hover {
  border: 2px solid #62d1ba;
}

.order__comment:active {
  border: 2px solid #62d1ba;
  color: #444444;
}

.order__comment:focus {
  border: 2px solid #62d1ba;
  color: #444444;
}

.order__comment:invalid {
  border: 2px solid #f0b1b1;
  color: rgba(68, 68, 68, 0.3);
}

.order__button {
  margin-top: 19px;
  height: 52px;
  padding-top: 14px;
  width: 260px;
}

.order__name {
  color: $title-color;
  font-size: 17px;
  font-weight: 700;
}

.order__name-wrapper {
  width: 100%;
}

.order__field--phone {
  background-image: svg-load("../../img/icon-phone.svg", fill=rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--phone:hover {
  background-image: svg-load("../../img/icon-phone.svg", fill=#62d1ba);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--phone:focus {
  background-image: svg-load("../../img/icon-phone.svg", fill=#62d1ba);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--phone:invalid {
  background-image: svg-load("../../img/icon-phone.svg", fill=rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--email {
  background-image: svg-load("../../img/icon-mail.svg", fill=rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--email:hover {
  background-image: svg-load("../../img/icon-mail.svg", fill=#62d1ba);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--email:focus {
  background-image: svg-load("../../img/icon-mail.svg", fill=#62d1ba);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

.order__field--email:invalid {
  background-image: svg-load("../../img/icon-mail.svg", fill=rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 14px;
}

@media (--mobile-width) {

  .order__legend {
    width: 100%;
    position: relative;
    margin-left:-3px;
    margin-bottom: 0;
  }

  .order__legend::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: currentColor;
  }

  .order__legend span {
    padding-right: 1rem;
    background: white;
  }

  .order {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .order__legend {
    margin-left: -3px;
  }

  .order__name:first-of-type {
    padding-top: 37px;
  }

  .order__name-wrapper:first-of-type {
    padding-top: 37px;
  }

  .order__name-wrapper {
    padding-top: 20px;
  }

  .order__section-wrapper:nth-of-type(3) .order__section {
    padding-bottom: 29px;
  }

  .order__section-wrapper:nth-of-type(5) .order__section {
    padding-bottom: 10px;
  }

  .order__section:nth-of-type(6) {

  }

  .order__field--phone, .order__field--email {
    padding-top: 30px;
    margin-bottom: 19px;
  }

  .order__note-mobile {
    color: $font-color-base;
    font-size: 14px;
    display: block;
    margin-left: -3px;
    margin-right: -4px;
  }

  .order__note-tablet {
    display: none;
  }

  .order__field--phone {
    background-position-x: 96%;
    background-position-y: 26px;
  }

  .order__field--phone:hover {
    background-position-x: 96%;
    background-position-y: 26px;
  }

  .order__field--phone:focus {
    background-position-x: 96%;
    background-position-y: 26px;
  }

  .order__field--phone:invalid {
    background-position-x: 96%;
    background-position-y: 26px;
  }

  .order__field--email {
    background-position-x: 98%;
    background-position-y: 26px;
  }

  .order__field--email:hover {
    background-position-x: 98%;
    background-position-y: 26px;
  }

  .order__field--email:focus {
    background-position-x: 98%;
    background-position-y: 26px;
  }

  .order__field--email:invalid {
    background-position-x: 98%;
    background-position-y: 26px;
  }

}

@media (--tablet-width) {

  .order {
    position: relative;
  }

  .order__legend {
    position: absolute;
    left: 49px;
    top: 70px;
    width: 64px;
  }

  .order__name-wrapper {
    display: flex;
    margin-bottom: 21px;
  }

  .order__name {
    font-size: 19px;
    font-weight: 700;
    margin-right: 25px;
    padding-top: 14px;
  }

  .order__checkbox-wrapper {
    width: 550px;
  }

  .order__field {
    font-size: 19px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 17px;
    box-sizing: border-box;
  }

  .order__section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 217px;
    padding-right: 50px;
    padding-top: 72px;
    padding-bottom: 53px;
  }

  .order__section-wrapper:nth-of-type(2) .order__section {
    padding-top: 76px;
    padding-bottom: 25px;
    padding-right: 0;
  }

  .order__section-wrapper:nth-of-type(3) .order__section {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .order__section-wrapper:nth-of-type(2) .order__legend {
    top: 74px;
  }

  .order__section-wrapper:nth-of-type(3) .order__legend {
    top: 62px;
  }

  .order__section-wrapper:nth-of-type(2), .order__section-wrapper:nth-of-type(4),
  .order__section-wrapper:nth-of-type(5) {
    background-color: #f1f1f1;
  }

  .order__section-wrapper:nth-of-type(4) .order__section {
    padding-bottom: 0;
    padding-top: 50px;
  }

  .order__section-wrapper:nth-of-type(4) .order__legend {
    top: 67px;
  }

  .order__section-wrapper:nth-of-type(5) .order__section {
    padding-top: 21px;
    padding-bottom: 67px;
  }

  .order__section-wrapper:nth-of-type(5) .order__legend {
    top: 37px;
  }

  .order__section-wrapper:nth-of-type(5) .order__section {
    padding-top: 21px;
  }

  .order__section-wrapper:nth-of-type(6) .order__section {
    padding-top: 64px;
    padding-bottom: 53px;
  }

  .order__section-wrapper:nth-of-type(6) .order__legend {
    top: 77px;
  }

  .order__field--phone, .order__field--email {
    background-color: #f1f1f1;
  }

  .order__comment {
    margin: 0;
    font-size: 19px;
  }

  .order__button-block {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 52px;
  }

  .order__note-mobile {
    display: none;
  }

  .order__note-tablet {
    color: $font-color-base;
    display: block;
    font-size: 17px;
  }

  .order__button {
    margin: 0;
    width: 230px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .order__field--phone {
    background-position-x: 95%;
  }

  .order__field--phone:hover {
    background-position-x: 95%;
  }

  .order__field--phone:focus {
    background-position-x: 95%;
  }

  .order__field--phone:invalid {
    background-position-x: 95%;
  }

  .order__field--email {
    background-position-x: 95%;
  }

  .order__field--email:hover {
    background-position-x: 95%;
  }

  .order__field--email:focus {
    background-position-x: 95%;
  }

  .order__field--email:invalid {
    background-position-x: 95%;
  }

}

@media (--desktop-width) {

  .order__section {
    padding-left: 224px;
    padding-right: 226px;
  }

  .order__section-wrapper:nth-of-type(2) .order__section {
    padding-right: 50px;
  }

  .order__legend {
    left: 109px;
  }

  .order__section-wrapper:nth-of-type(4) .order__legend {
    left: 113px;
  }

  .order__section-wrapper:nth-of-type(5) .order__legend {
    left: 99px;
  }

  .order__checkbox-wrapper {
    width: auto;
  }

  .order__button-block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 39px;
    padding-bottom: 95px;
  }

  .order__field--phone {
    background-position-x: 99%;
  }

  .order__field--phone:hover {
    background-position-x: 99%;
  }

  .order__field--phone:focus {
    background-position-x: 99%;
  }

  .order__field--phone:invalid {
    background-position-x: 99%;
  }

  .order__field--email {
    background-position-x: 99%;
  }

  .order__field--email:hover {
    background-position-x: 99%;
  }

  .order__field--email:focus {
    background-position-x: 99%;
  }

  .order__field--email:invalid {
    background-position-x: 99%;
  }

}
