.order__legend {
  color: $accent-color;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.order__section {
  border: none;
}

.order__field {
  box-shadow: inset 0 -2px 0 #000000;
  border: none;
}

.order__comment {
  border: none;
  outline: 2px solid #000000;
}

.order__note {
  color: $font-color-base;
  font-size: 14px;
}

.order__button {
  margin-top: 22px;
  margin-bottom: 55px;
}
