.order-form {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 55px;
}

.order-form__description {
  @mixin container;
  box-sizing: border-box;
  color: $font-color-base;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 19px;
}

@media (--tablet-width) {

  .order-form {
    box-sizing: border-box;
    padding: 0;
  }

  .order-form__description {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 62px;
    padding-bottom: 0px;
    font-size: 17px;
    line-height: 30px;
  }

}

@media (--desktop-width) {

  .order-form__description {
    padding-left: 225px;
    padding-top: 105px;
    padding-right: 210px;
  }

}
