.social {
  width: 141px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 0;
}

.social__link--fb {
  margin-top: -6px;
}

.social__icon:hover {
  fill:#231F20;
}

.social__icon:hover {
  fill: #46c1ae;
}

.social__icon:active {
  opacity: 0.3;
}
