.video {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 34px;
}

.video__header {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 91px;
}

.video__description {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 34px;
  margin-right: 43px;
 }
